@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  width: 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #121212;
}

.auth-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  color: white; 
  text-align: center;
  width: 300px;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


.green__gradient {
  background: linear-gradient(90deg, #7274f1 20%, #0b2ef5 100%);
  filter: blur(90px);
}


.dashboard_mainText {
  color: #98d9ec;
}

.green_test {
  background: linear-gradient(90deg, #11CB72 0%, #0fa85e 100%);
  filter: blur(250px);
}

.dashboard_test {
  color: #bff8cb;
}

.poppins {
  font-family: "Poppins", sans-serif;

}


.one {
  animation: swing 10s ease-in-out infinite;
  width: 960px;
  height: 10rem;  
  top: 5rem;
  position: absolute;
}

.one::before{
content: " ";
rotate: -42deg;
inset: 0px;
position: absolute;
background-image: linear-gradient(to bottom, #4f46e5, rgb(79 70 229 / 0))
}

.two {
animation: swing 15s ease-in-out infinite;
width: 960px;
height: 6rem;  
top: -3rem;
left: -7rem;
position: absolute;
}

.two::before{
content: " ";
rotate: -42deg;
inset: 0px;
position: absolute;
background-image: linear-gradient(to bottom, #818cf8, rgb(129 140 248 / 0))
}

.three {
animation: swing 7s -2s ease-in-out infinite;
width: 960px;
height: 4rem;  
top: 9rem;
left: 20rem;
position: absolute;
}

.three::before{
content: " ";
rotate: -42deg;
inset: 0px;
position: absolute;
background-image: linear-gradient(to bottom, #818cf8, rgb(129 140 248 / 0))
}

.four {
animation: swing 10s ease-in-out infinite;
width: 960px;
height: 16rem;  
top: 820px;
left: 11rem;
position: absolute;
}

.four::before{
content: " ";
rotate: -42deg;
inset: 0px;
position: absolute;
background-image: linear-gradient(to bottom, #717ffd, rgb(129 140 248 / 0));
opacity: 0.5;
}

.five {
animation: swing 15s -2s ease-in-out infinite;
width: 480px;
height: 3rem;  
top: 970px;
left: 550px;
position: absolute;
}

.five::before{
content: " ";
rotate: -42deg;
inset: 0px;
position: absolute;
background-image: linear-gradient(to bottom, #1e1b4b, rgb(30 25 75 / 0))
}

.six {
animation: swing 9s -3s ease-in-out infinite;
width: 960px;
height: 4rem;  
top: 820px;
left: 6rem;
position: absolute;
}

.six::before{
content: " ";
rotate: -42deg;
inset: 0px;
position: absolute;
background-image: linear-gradient(to bottom, #312e81, rgb(49 46 129 / 0))
}

.lineLeftOne {
border-color: aliceblue;
border-left-width: 1px;
bottom: 0px;
top: 0px;
position: absolute;
border-image: linear-gradient(to bottom, rgb(165 180 252 / .4), transparent) 1;
}

.lineLeftTwo {
border-color: #f0f8ff;
border-left-width: 1px;
bottom: 0px;
top: 0px;
left: 80px;
position: absolute;
border-image: linear-gradient(to bottom, rgb(165 180 252 / .4), transparent) 1;
}

.lineRightOne {
border-left-width: 1px;
bottom: 0px;
top: 0px;
right: 0px;
position: absolute;
border-image: linear-gradient(to bottom, rgb(165 180 252 / .4), transparent) 1;
}

.lineRightTwo {
border-left-width: 1px;
bottom: 0px;
top: 0px;
right: 80px;
position: absolute;
border-image: linear-gradient(to bottom, rgb(165 180 252 / .4), transparent) 1;
}


@keyframes swing {
  0%, 100% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-100px);
  }
}

.specialh1 {
  font-weight: 700;
  background-image: linear-gradient(170deg, #c7d2fe 20%, #e5e7eb 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  -webkit-text-fill-color: transparent;
  padding-bottom: rem;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  font-size: 3.7rem;
  line-height: 1.2;
}

.content-container {
  padding-bottom: 5rem;
  padding-top: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.text-container {
  padding: 0 1.5rem;
  max-width: 48rem;
  margin-bottom: 3rem;
  text-align: center;
}
